body{
    background-color: #1E1E1E;
}
.container{
    /* min-width: 10vh; */
    /* font-size: larger; */
    color: #CCCCCC;
    background-color: #333333;
    width: 99vw;
    border-radius: 4vh;
    padding: 0em 2em 2em 2em;
}
.container h1{
    width: auto;
    /* font-size: 10rem; */
}
.addbar{
}
.addbar input{
    /* padding: 90vw; */
    width: 10vw;
}
.addbar button{
    width: auto;
}
#vcenter{
    align-items: center;
    justify-content: center;
    display: flex;
}
